.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 20px;
  background-color: dimgray;
  color: white;
}

.nav-links {
  color: white;
  margin: 20px;
}

.logout {
  margin: 0px;
  background-color: crimson;
  color: white;
}
