.navBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 120px;
  font-size: 1.2rem;
  background: linear-gradient(
    90deg,
    rgb(110, 94, 254) 0%,
    rgba(73, 63, 252, 1) 100%
  );
}

.nav-links {
  margin-right: 70px;
  color: white;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-size: 40px;
}

.nav-links:hover {
  background-color: #6d76f7;
  border-radius: 25px;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.logout {
  margin-right: 60px;
  color: white;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-size: 40px;
}

.logout:hover {
  background-color: #e41818;
  border-radius: 25px;
  transition: all 0.2s ease-out;
  text-decoration: none;
}
