* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.LoginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.Login {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;

  padding: 20px;
  background-color: #53565a;
  border-radius: 50px 50px 50px 50px;
}

input {
  width: 400px;
  height: 50px;
  border: 2px solid white;
  border-radius: 100px 100px 100px 100px;
  background: transparent;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 20px;
  color: white;
}

h1 {
  color: white;
  margin-bottom: 100px;
  margin-top: 100px;
}

.setFlag {
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;

  color: black;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 100px 100px 100px 100px;
}
